/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat&display=swap');

/* Général */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #F1F1F1;
}

/* Nav */
.navbar-brand {
    font-size: 25px;
    font-family: 'Kaushan Script'
}

#navbarCollapse a {
    font-size: 20px;
}

/* Header */
header {
    background: url('../img/headerImg.jpg');
    background-size: cover;
    height: 100vh;
}

.textIntro {
    padding-top: 300px;
    padding-bottom: 200px;
}

.textPre {
    font-size: 40px;
}

h1 {
    font-size: 90px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
}

/* Services */
#services {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid #000;
}

/* Call to Action */
#start {
    position: relative;
    min-height: 200px;
    background: url('../img/start.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

#start h2 {
    font-size: 40px;
    color: #F1F1F1;
}

/* Clients */
#clients {
    padding-bottom: 75px;
}

#clients img {
    margin-top: -50px;
}

.fab {
    font-size: 25px;
    color: #003366;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    header {
        height: 80vh;
    }

    .textIntro {
        padding-top: 200px;
    }

    .textPre {
        font-size: 30px;
    }

    h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 500px) {
    .textPre {
        font-size: 20px;
    }

    h1 {
        font-size: 39px;
    }

    .textIntro a {
        transform: scale(0.8);
    }

    #services {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    #textLaptop {
        padding-bottom: 30px;
    }

    #clients {
        padding-bottom: 35px;
    }
}